<td><%= model.name %></td>
<td><%= model.part_taxon.name %></td>
<td>
  <p><%= model.min_select %></p>
  <p><%= model.max_select %></p>
</td>
<td class="text-grey"><%= model.select_str %></td>
<td><%= link_to model.component_parts_count, { controller: 'component_parts', component_id: model.id } %></td>
<td>
<% model.component_parts.each do |product_part| %>
  <p>
    <span><%= product_part.part.name %></span>
    <% if product_part.default %>
      <i class="fa-solid fa-check text-success"></i>
    <% end %>
  </p>
<% end %>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-circle-info text-info"></i>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-pencil text-link"></i>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-rounded is-light', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
      <i class="fa-solid fa-trash text-danger"></i>
    <% end %>
  </div>
</td>