<%= render 'top_bar_left' do %>
  <div class="weui-title">
    <span><%= @taxon.name %></span>
    <% if @taxon.scene %>
      <span class="tag ml-1"><%= @taxon.scene.title %></span>
    <% end %>
  </div>
  <div>
    <%= button_to({ controller: 'taxons', action: 'preview' }, class: 'px-4') do %>
      <%= svg_tag 'ellipsis-vertical' %>
    <% end %>
  </div>
<% end %>
