<%= render 'filter_bar' %>

<div class="flex flex-grow-1">
  <%= render 'menu' unless @produce_plan %>
  <div
    data-controller="page"
    data-page-debug-value="true"
    data-action="touchmove->page#move:passive"
    class="flex-grow-1 ml-3"
  >
    <div>
      <%= render partial: 'production_cart', layout: 'production', collection: @productions, as: :model, locals: { cart: @cart, item_con: 'trade/our/items' } %>
      <% if @productions.blank? %>
        <%= render 'page_blank' %>
      <% else %>
        <%= render partial: 'page_loading', locals: { all: @productions} %>
      <% end %>
    </div>
  </div>
</div>
<div class="display-none"></div>
<%= render 'taxon' if params[:produce_on] && params[:scene_id] %>
