<td>
  <div class="is-several">
    <%= image_tag model.logo, class: 'image is-24x24' if model.logo.attached? %>
    <span><%= model.name %></span>
  </div>
</td>
<td><%= model.products_count %></td>
<td>
<% if model.organ %>
  <div class="is-several">
    <%= image_tag model.organ.logo, class: 'image is-24x24' if model.organ.logo.attached? %>
    <span><%= model.organ.name %></span>
  </div>
<% end %>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= link_to({ controller: 'serials', brand_id: model.id }, aria: { label: t('.serials.index.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-sitemap text-primary"></i>
    <% end %>
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-circle-info text-info"></i>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-pencil text-link"></i>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-rounded is-light', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
      <i class="fa-solid fa-trash text-danger"></i>
    <% end %>
  </div>
</td>