<div class="menu as-side" style="margin-left: -0.75rem">
  <div class="menu-list flex flex-direction-column">
    <% @taxons.each do |taxon| %>
      <%= link_to taxon.name, { controller: 'products', taxon_id: taxon.id }, class: active_helper(taxon_id: taxon.id, item: 'menu-item', active: 'menu-item is-active') %>
    <% end %>
    <%= button_to({ controller: 'taxons', action: 'new' }, class: 'has-column-centered display-flex p-0 background-white', form: { class: 'menu-item' }) do %>
      <%= svg_tag 'plus', class: 'icon is-small text-primary' %>
      <span class="text-primary mt-1"><%= t('.taxons.new.title') %></span>
    <% end %>
    <%= link_to({ controller: 'taxons' }, class: 'menu-item has-column-centered display-flex background-white') do %>
      <%= svg_tag 'ellipsis', class: 'icon is-small text-primary' %>
      <span class="text-primary mt-1">更多</span>
    <% end %>
    <div class="background-white flex-grow-1"></div>
  </div>
</div>
