<%= button_to({ action: 'edit', id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'pencil' %>
  <span><%= t('.edit.title') %></span>
<% end %>
<%= link_to({ controller: 'productions', product_id: model.id }, class: 'cell has-column-centered') do %>
  <div>
    <%= svg_tag 'clone' %>
    <span class="ml-1"><%= model.productions_count %></span>
  </div>
  <span><%= t('factory.admin.productions.index.title') %></span>
<% end %>
<%= link_to({ action: 'edit_image' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'image' %>
  <span><%= t('.edit_image.title') %></span>
<% end %>
