<%= button_to({ action: 'edit', id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'pencil' %>
  <span><%= t('.edit.title') %></span>
<% end %>
<%= link_to({ controller: 'production_plans', production_id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'clock' %>
  <span><%= t('.production_plans.index.title') %></span>
<% end %>
<%= link_to({ controller: 'production_items', production_id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'list' %>
  <span><%= t('.production_items.index.title') %></span>
<% end %>
<% if model.default %>
  <%= button_to({ action: 'update', id: model.id }, method: :patch, params: { 'production[default]': false }, class: 'text-danger has-column-centered', form: { class: 'cell' }) do %>
    <%= svg_tag 'xmark' %>
    <span>主显产品</span>
  <% end %>
<% else %>
  <%= button_to({ action: 'update', id: model.id }, method: :patch, params: { 'production[default]': true }, class: 'text-success has-column-centered', form: { class: 'cell' }) do %>
    <%= svg_tag 'check' %>
    <span>主显产品</span>
  <% end %>
<% end %>
<% if model.enabled %>
  <%= button_to({ action: 'update', id: model.id }, method: :patch, params: { 'production[enabled]': false }, class: 'text-danger has-column-centered', form: { class: 'cell' }) do %>
    <%= svg_tag 'xmark' %>
    <span>下架</span>
  <% end %>
<% else %>
  <%= button_to({ action: 'update', id: model.id }, method: :patch, params: { 'production[enabled]': true }, class: 'text-success has-column-centered', form: { class: 'cell' }) do %>
    <%= svg_tag 'check' %>
    <span>上架</span>
  <% end %>
<% end %>
<div
  data-controller="mini-program"
  data-mini-program-nav-value="true"
  data-mini-program-url-value="/pages/print/index"
  data-mini-program-data-value="<%= { url: url_for(action: 'print_data', id: model.id, only_path: false) }.to_json %>"
  data-action="click->mini-program#link"
  class="cell has-column-centered"
>
  <%= svg_tag 'print' %>
  <span><%= t('.productions.print_data.title') %></span>
</div>