<div data-show-target="item" class="visibility-hidden">
  <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'eye', class: 'icon text-info' %>
  <% end %>
  <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'pencil', class: 'icon text-link' %>
  <% end %>
  <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-borderless', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
    <%= svg_tag 'trash', class: 'icon text-danger' %>
  <% end %>
</div>
<div data-show-target="item" class="visibility-hidden">
  <%= link_to({ controller: 'production_spaces', production_id: model.id }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'pencil' %>
    <span class="ml-1"><%= t('.production_spaces.index.title') %></span>
  <% end %>
  <%= button_to({ action: 'wallet', id: model.id }, class: 'button is-small is-light') do %>
    <%= svg_tag 'pencil', class: 'icon text-link' %>
    <span class="ml-1"><%= t('.wallet.title') %></span>
  <% end %>
  <%= button_to({ action: 'edit_stock', id: model.id }, class: 'button is-small is-light') do %>
    <%= svg_tag 'pencil' %>
    <span class="ml-1"><%= t('.edit_stock.title') %></span>
  <% end %>
</div>
<div data-show-target="item" class="visibility-hidden">
  <%= link_to({ controller: 'production/provides', production_id: model.id }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'building' %>
    <span class="ml-1"><%= t('.production_provides.index.title') %></span>
  <% end %>
</div>
