<%= link_to({ action: 'show', id: model.id }, class: 'truncate') do %>
  <span><%= model.title %></span>
<% end %>
<div class="mt-1 flex">
  <div class="tags">
  <% if model.default %>
    <span class="tag"><%= model.default_i18n %></span>
  <% end %>
  <% if model.enabled %>
    <span class="tag is-primary"><%= model.enabled_i18n %></span>
  <% else %>
    <span class="tag is-danger"><%= model.enabled_i18n %></span>
  <% end %>
  </div>
</div>
<p class="text-danger mt-1"><%= model.price.to_money.format.html_safe %></p>
