<%= render 'filter_bar' %>

<div class="flex mb-0 flex-grow-1">
  <%= render 'menu' unless @produce_plan %>
  <div
    data-controller="page"
    data-page-debug-value="true"
    data-action="touchmove->page#move:passive"
    class="flex-grow-1 ml-3 overflow-x-hidden"
  >
    <%= render partial: 'production_cart', layout: 'card', collection: @productions, as: :model, locals: { cart: @cart, item_con: 'trade/agent/items' } %>
    <% if @productions.blank? %>
      <%= render 'blank' %>
    <% elsif @productions.total_pages <= @productions.current_page %>
      <%= render 'page_no_more' %>
    <% elsif @productions.total_pages > @productions.current_page %>
      <%= render partial: 'page_loading', locals: { all: @productions } %>
    <% end %>
    <%= render 'paginator' %>
  </div>
</div>
