<td>
  <%= svg_tag 'bars', class: 'icon is-small text-grey is-drawable' %>
</td>
<td>
  <%= link_to({ controller: 'taxon/products', taxon_id: model.id }, class: 'is-several') do %>
    <%= image_tag model.logo, class: 'image is-32x32' if model.logo.attached? %>
    <span><%= model.name %></span>
  <% end %>
  <p class="text-grey"><%= model.scene&.title %></p>
</td>
<td><%= link_to model.products_count, { controller: 'taxon/products', taxon_id: model.id } %></td>
<td><%= @count_hash[model.id] if @count_hash %></td>
<td>
  <%= link_to({ controller: 'taxon/provides', taxon_id: model.id }) do %>
    <span><%= model.provides_count %></span>
  <% end %>
</td>
<th>
  <%= form_with theme: 'switch', model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :enabled, data: { action: 'input#submit' }, id: nil %>
  <% end %>
</th>
<th>
  <%= form_with theme: 'switch', model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :customizable, data: { action: 'input#submit' }, id: nil %>
  <% end %>
</th>
