<%= form_with theme: 'default_phone', model: model, scope: model_name, url: { action: 'create', **params.permit(:factory_taxon_id) }, state: 'return' do |f| %>
  <div class="form-fields">
    <%= f.hidden_field :factory_taxon_id %>
    <%# render partial: 'com/nodes/siblings_select', locals: { f: f } %>
    <%= f.text_field :name %>
    <%= render 'com/attachments/list_field', target: f.object.logo, f: f %>
    <%= f.collection_select :scene_id, @scenes, :id, :title %>
  </div>
  <%= f.submit %>
<% end %>
