<h2 class="title text-centered">
  <%= svg_tag 'gift', class: 'icon is-medium text-primary' %>
  <span><%= @product.name %></span>
</h2>

<div class="tabs is-centered mb-3">
  <ul>
    <li class="<%= active_helper(products: ['show', 'edit'], active: 'is-active') %>">
      <%= link_to({ controller: 'products', action: 'show', id: @product.id }) do %>
        <%= svg_tag 'circle-info' %>
        <span class="ml-1"><%= t('.products.show.title') %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(controllers: 'productions', active: 'is-active') %>">
      <%= link_to({ controller: 'productions', action: 'index', product_id: @product.id }) do %>
        <%= svg_tag 'clone' %>
        <span class="ml-1"><%= t('.productions.index.title') %></span>
      <% end %>
    </li>
    <% if @product.taxon.customizable %>
      <li class="<%= active_helper(controllers: 'product_components', active: 'is-active') %>">
        <%= link_to({ controller: 'product_components', product_id: @product.id }) do %>
          <%= svg_tag 'cubes' %>
          <span class="ml-1"><%= t('.product_components.index.title') %></span>
        <% end %>
      </li>
    <% end %>
    <li class="<%= active_helper(controllers: 'fits', active: 'is-active') %>">
      <%= link_to({ controller: 'fits', product_id: @product.id }) do %>
        <%= svg_tag 'gears' %>
        <span class="ml-1"><%= t('.fits.index.title') %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(controller: 'product/provides', product_id: @product.id, check_parameters: false, active: 'is-active') %>">
      <%= link_to({ controller: 'product/provides', product_id: @product.id }) do %>
        <%= svg_tag 'building' %>
        <span class="ml-1"><%= t('factory.admin.product.provides.index.title') %></span>
      <% end %>
    </li>
  </ul>
</div>
