<td>
  <div class="flex">
    <%= image_tag model.logo.variant(resize_to_limit: [24, 24]).processed.url, class: 'image is-24x24' if model.logo.attached? %>
    <%= link_to({ controller: 'productions', product_id: model.id }, text: true, class: 'ml-1 truncate') do %>
      <span class="text-grey-dark"><%= model.name %></span>
    <% end %>
  </div>
  <% if model.brand %>
    <p><span class="tag is-danger is-light"><%= model.brand.name %></span></p>
  <% end %>
  <p class="text-grey"><%= model.description %></p>
</td>
<td><%= model.base_price.to_money.format.html_safe %></td>
<td>
<% model.productions[0..2].each do |production| %>
  <p class="flex">
    <span class="truncate"><%= production.name %></span>
    <% if production.enabled %>
      <span class="tag is-success"><%= production.enabled_i18n %></span>
    <% end %>
  </p>
<% end %>
</td>
<td>
<% model.productions[0..2].each do |production| %>
  <p><%= production.stock.to_d %></p>
<% end %>
</td>
<td>
<% model.productions[0..2].each do |production| %>
  <p><%= production.price.to_money.format.html_safe %></p>
<% end %>
</td>
<td>
  <% model.product_components.each do |product_component| %>
    <p>
      <span><%= product_component.name %></span>
      <span class="text-grey size-7"><%= product_component.select_str %></span>
    </p>
  <% end %>
</td>
<td>
  <%= form_with theme: 'switch', model: model, scope: :product, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :published, data: { action: 'input#submit' }, id: nil %>
  <% end %>
</td>
<td>
<% model.product_provides.each do |product_provide| %>
  <p><%= product_provide.provide.name %></p>
<% end %>
</td>
