<div class="box as-bar">
  <%= link_to({ controller: 'space/admin/desks', action: 'all' }, class: 'px-4') do %>
    <%= svg_tag 'angle-left' %>
  <% end %>
  <div class="weui-title"><span><%= @desk.name %></span></div>
  <%= button_to({ controller: '/space/desks', action: 'change', station_id: @desk.room.station_id }, form: { class: 'px-4' }) do %>
    <%= svg_tag 'chevron-right' %>
  <% end %>
</div>
