<div data-id="<%= component.id %>" class="box is-narrow">
  <div class="text-grey">
    <span><%= component.name %></span>
    <span class="size-7"><%= component.select_str %></span>
  </div>
  <% if component.multiple %>
    <div data-controller="custom" class="no-disabled">
      <%= render partial: 'component_part_number', collection: component_parts, as: :component_part, locals: { component: component } %>
    </div>
  <% else %>
    <div data-controller="custom" class="buttons are-small no-disabled mt-3">
      <%= render partial: 'component_part', collection: component_parts, as: :component_part, locals: { component: component } %>
    </div>
  <% end %>
</div>
