<div class="flex flex-grow-1 mb-0" style="height:100%">
  <%= render 'menu' unless @produce_plan %>
  <div
    data-controller="page"
    data-page-url-value="<%= url_for(action: 'index') %>"
    class="has-page-grow ml-3 overflow-x-hidden"
    style="scrollbar-width: none"
  >
    <%=
      render(
        partial: 'production_cart',
        layout: 'production',
        collection: @productions,
        as: :model,
        locals: {
          cart: @cart,
          item_con: 'trade/my/items'
        }
      )
    %>

    <% if @productions.blank? %>
      <%= render 'page_blank' %>
    <% elsif @productions.total_pages <= @productions.current_page %>
      <%= render 'page_no_more' %>
    <% elsif @productions.total_pages > @productions.current_page %>
      <%= render partial: 'page_loading', locals: { all: @productions } %>
    <% end %>
  </div>
</div>

<%= render 'taxon' if @produce_plan %>
