<div class="flex flex-grow-1 mb-0" style="height:100%">
  <%= render 'menu' unless @produce_plan %>
  <div
    data-controller="page"
    data-page-url-value="<%= url_for(action: 'index') %>"
    class="flex-grow-1 ml-3 overflow-x-hidden"
  >
    <%= render partial: 'production_cart', layout: 'production', collection: @productions, as: :model, locals: { cart: @cart, item_con: 'trade/my/items' } %>
    <% if @productions.blank? %>
      <%= render 'page_blank' %>
    <% elsif @productions.total_pages <= @productions.current_page %>
      <%= render 'page_no_more' %>
    <% elsif @productions.total_pages > @productions.current_page %>
      <%= render partial: 'page_loading', locals: { all: @productions } %>
    <% end %>
  </div>
</div>

<%= render 'taxon' if @produce_plan %>

<% if current_organ %>
<div
  class="display-none"
  data-controller="wx-share"
  data-wx-share-title-value="<%= current_organ.name %>"
  data-wx-share-desc-value="邀请您提前下单，到店即可享用美味"
  data-wx-share-link-value="<%= url_for(controller: 'factory/productions', only_path: false) %>"
  data-wx-share-image-value="<%= current_organ.logo.url %>"
>
</div>
<% end %>