<td><%= model.provide.name %></td>
<td>
<% if model.provide.provider %>
  <%= model.provide.provider.name %>
<% end %>
</td>
<td><%= model.cost_price.to_money.format.html_safe %></td>
<td><%= model.provide_config_type_i18n %></td>
<td>
  <%= form_with theme: 'switch', model: model, url: { controller: 'production_provides', action: 'refresh', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :default, data: { action: 'input#submit' }, id: nil %>
  <% end %>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
<td>
  <div data-show-target="item" class="has-inline-centered visibility-hidden">
    <%= button_to({ controller: 'production_provides', action: 'show', id: model.id }, aria: { label: t('.production_provides.show.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'eye', class: 'icon text-info' %>
    <% end %>
    <%= button_to({ controller: 'production_provides', action: 'edit', id: model.id }, aria: { label: t('.production_provides.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil', class: 'icon text-link' %>
    <% end %>
    <%= button_to({ controller: 'production_provides', action: 'destroy', id: model.id }, method: :delete, class: 'button is-small is-borderless', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
      <%= svg_tag 'trash', class: 'icon text-danger' %>
      <span class="ml-1"><%= t('.production_provides.destroy.title') %></span>
    <% end %>
  </div>
</td>