<%= render layout: 'layouts/phone_head' do %>
  <%= render 'top_bar' %>
  <%= render 'alert' %>
  <%= render partial: 'filter_bar', locals: { name: 'word-like' } %>
  <main id="weui-tab__panel">
    <%= yield %>
  </main>
  <%= render 'tab_bar_footer' %>
  <%= render 'tab_bar' %>
<% end %>
