<footer id="production_modal_foot" class="modal-card-foot flex-direction-column">
  <div class="flex justify-content-space-between align-items-center is-fullwidth">
    <div>
      <p class="text-danger"><%= @production.price.to_money.format.html_safe %></p>
      <ul class="media-info display-inline-flex text-grey">
      <% @production.production_parts.includes(:part).each do |production_part| %>
        <li>
          <span><%= production_part.part.word %></span>
          <% if production_part.number.to_i > 1 %>
            <span>x <%= production_part.number %></span>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
    <%= render partial: 'cart_item_add', locals: { item: @cart.init_cart_item(params, good_id: @production.id), cart: @cart, item_con: item_con, renew: { "product_summary_#{@production.product_id}" => 'product_summary', "product_cart_#{@production.product_id}" => 'production_cart' } } %>
  </div>
  <%= render partial: 'product_summary', locals: { model: @production, cart: @cart, item_con: item_con, options: {} } %>
  <div class="flex justify-content-center align-items-center is-fullwidth mt-2">
    <button data-action="click->modal#close" class="button is-rounded is-light">чбошод</button>
  </div>
</footer>
