<dl id="product_summary_<%= production.product_id %>" class="as-show is-fullwidth px-0 is-interval">
<% cart.find_items(production.brother_ids, good_type: production.base_class_name, **options).each do |item| %>
  <div data-id="<%= item.id %>" class="px-2" style="background-color: <%= item.good_id == production.id ? '#eee' : 'auto' %>">
    <dt class="truncate flex-shrink-1"><%= item.good.name %></dt>
    <dd class="text-right flex-shrink-0">
      <%= render partial: 'cart_item_new', locals: { item: @cart.init_cart_item(params.permit(:xx), dispatch: item.dispatch, good_id: item.good_id), cart: @cart, item_con: item_con, renew: { "product_summary_#{production.product_id}" => 'product_summary_brothers' } } %>
    </dd>
  </div>
<% end %>
</dl>