<dl id="product_summary_<%= model.product_id %>" class="as-show is-fullwidth px-0 is-interval">
<% cart.find_items(model.brother_ids, good_type: model.base_class_name, **options).each do |item| %>
  <div data-id="<%= item.id %>" style="background-color: <%= item.good_id == model.id && item.dispatch == params[:dispatch] ? '#eee' : 'auto' %>">
    <dt class="truncate flex-shrink-1">
      <span><%= item.good.name %></span>
      <span class="tag"><%= item.dispatch_i18n %></span>
    </dt>
    <dd class="text-right flex-shrink-0">
      <%= render partial: 'cart_item_new', locals: { item: @cart.init_cart_item(params.permit(:xx), dispatch: item.dispatch, good_id: item.good_id), cart: @cart, item_con: item_con, renew: { "product_summary_#{model.product_id}" => 'product_summary_brothers', "product_cart_#{model.product_id}" => 'production_cart' } } %>
    </dd>
  </div>
<% end %>
</dl>