<% items = cart.find_items(model.brother_ids, good_type: model.base_class_name, **options) %>
<% if items.present? %>
<dl id="product_summary_<%= model.product_id %>" class="as-show is-fullwidth px-0 is-interval">
<% items.each do |item| %>
  <div data-id="<%= item.id %>" class="px-2" style="background-color: <%= item.good_id == model.id && item.dispatch == params[:dispatch] ? '#eee' : 'auto' %>">
    <dt class="truncate flex-shrink-1">
      <ul class="media-info display-inline-flex">
      <% item.good.production_parts.includes(:part).each do |production_part| %>
        <li>
          <span><%= production_part.part.word %></span>
          <% if production_part.number.to_i > 1 %>
            <span>x <%= production_part.number %></span>
          <% end %>
        </li>
      <% end %>
      </ul>
    </dt>
    <dd class="text-right flex-shrink-0">
      <%= render partial: 'cart_item_new', locals: { item: @cart.init_cart_item(params.permit(:xx), dispatch: item.dispatch, good_id: item.good_id), cart: @cart, item_con: item_con, renew: { "product_summary_#{model.product_id}" => 'product_summary', "product_cart_#{model.product_id}" => 'production_cart' } } %>
    </dd>
  </div>
<% end %>
</dl>
<% end %>