<td>
  <div class="is-several">
    <%= svg_tag 'bars', class: 'icon is-small text-grey is-drawable' %>
    <%= image_tag model.logo, class: 'image is-32x32' if model.logo.attached? %>
    <span><%= model.name %></span>
  </div>
</td>
<td><%= model.scene&.title %></td>
<td>
  <%= form_with theme: 'switch', model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :nav, data: { action: 'input#submit' }, id: nil %>
  <% end %>
</td>

