<%= form_with theme: 'modal', model: @production, url: { action: 'update_card' } do |f| %>
  <%= render 'modal_header' %>
  <section class="modal-card-body">
    <%= render 'error_messages', target: f.object %>
    <%= render partial: 'common_card_form', collection: @card_templates, as: :card_template, locals: { f: f } %>
  </section>
  <%= f.submit %>
<% end %>
