<div>
  <dt><%= Org::Organ.human_attribute_name(:dispatch) %></dt>
  <dd>
    <%= button_to({ action: 'inline' }, params: { field: 'dispatch', field_type: 'select_enum' }) do %>
      <%= @organ.dispatch_i18n %>
      <%= svg_tag 'chevron-right' %>
    <% end %>
  </dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:share_logo) %></dt>
  <dd>
    <% if @organ.share_logo.attached? %>
      <%= image_tag @organ.share_logo, class: 'image is-64x64' %>
    <% else %>
      <%= button_to({ action: 'inline' }, params: { field: 'share_logo', field_type: 'file_field', theme: 'default' }) do %>
        <%= svg_tag 'chevron-right' %>
      <% end %>
    <% end %>
  </dd>
</div>
