<div>
  <dt><%= Org::Organ.human_attribute_name(:name) %></dt>
  <dd>
    <%= text_field_tag 'organ[name]', @organ.name, class: 'input', form: 'show-form', data: { single_input_target: 'input' } %>
  </dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:share_logo) %></dt>
  <dd>
    <% if @organ.share_logo.attached? %>
      <%= button_to({ action: 'inline' }, params: { field: 'share_logo', field_type: 'inline_form/file_field', partial: 'edit_inline_submit' }, form: { class: 'has-select' }) do %>
        <%= image_tag @organ.share_logo, class: 'image is-24x24' %>
      <% end %>
    <% else %>
      <%= button_to({ action: 'inline' }, params: { field: 'share_logo', field_type: 'inline_form/file_field', partial: 'edit_inline_submit' }, form: { class: 'has-select' }) do %>
        <span>上传门店图</span>
      <% end %>
    <% end %>
  </dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:dispatches) %></dt>
  <dd>
    <%= button_to({ action: 'inline' }, params: { field: 'dispatches', field_type: 'checkboxes_dispatches_field', partial: 'edit_inline_submit' }, class: 'tags mb-0', form: { class: 'has-select' }) do %>
      <% @organ.dispatches.each do |dispatch| %>
        <span class="tag"><%= Trade::Item.enum_i18n(:dispatch, dispatch) %></span>
      <% end %>
    <% end %>
  </dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:dispatch) %></dt>
  <dd>
    <%= button_to({ action: 'inline' }, params: { field: 'dispatch', field_type: 'select_enum_dispatch' }, form: { class: 'has-select' }) do %>
      <span><%= @organ.dispatch_i18n %></span>
    <% end %>
  </dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:print_note) %></dt>
  <dd><%= simple_format(@organ.print_note) %></dd>
</div>
